# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=shoptrack
DB_USER=postgres
DB_PASSWORD=password
DB_SECRET_ARN=

# AWS
AWS_REGION=eu-central-1

# Auth
SECRET_KEY=shoptrack-secret-key-change-in-production